<script src="/js/chat.js" data-game-id="<%= gameId %>" data-user="<%= user %>" defer></script>
<div>
    <h2>Chat Thread</h2>

    <div id="messages">
       
    </div>

    <form id="chatForm" class="chat-form" >
        <input type="text" name="text" id="textInput" autocomplete="off" required />
        <button type="submit" class="btn btn-secondary">Send</button>
    </form>
</div>