<%- include('partials/header', { title: 'Lobby' }) %>
    <!-- <script src="/js/lobby.js" defer></script> -->

    <main>
        <div class="center-wrapper center-elements">
            <h1>Exploding KittensGame <%= gameId %></h1>
        </div>
    </main>

    <%- include('partials/footer') %>