<%- include('partials/header', { title: 'Lobby' }) %>
    <script src="/js/lobby.js" defer></script>

    <main>
        <div class="center-wrapper center-elements">
            <h1>Account Info</h1>
            <div>
                <img src="<%= avatar %>" alt="Avatar" class="avatar">
            </div>
            <div>
                <p>Email: <%= email %>
                </p>
            </div>
            <div>
                <a href="/logout" class="btn-style">Logout</a>
            </div>
            <div>
                <h1>Games</h1>
                <button id="create-game" class="btn-style">Create Game</button>
            </div>
            <template id="game-template">
                <div>
                    <span class="title"></span>
                    <span class="game-status"></span>
                    <span class="player-count"></span>
                    <span class="creator-email"></span>
                    <!-- <span class="created-at"></span> -->
                    <!-- <form data-form>
                        <button data-join-button>Join game</button>
                    </form> -->
                     <a data-join-button class="btn-style">Join Game</a>
                </div>
            </template>
            <div id="game-container">
                
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>