<%- include('partials/header', { title: 'Lobby' }) %>

<main>
  <div class="center-wrapper center-elements">
    <h1>Account Info</h1>
    <div>
      <img src="avatar.png" alt="Avatar" class="avatar">
    </div>
    <div>
      <p>Email: <%= email %></p>
    </div>
    <div>
      <a href="/logout" class="btn-style">Logout</a>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
